@import url('https://fonts.googleapis.com/css?family=Eater&display=swap');

*  {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f7f4fc;
}

.start-game {
    margin: 0;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #f7f4fc;
}

.hide {
    display: none;
}

.start-game h2 {
    
}
.start-game p {
    font-family: monospace;
}

.start-buttons {
    display: flex;
    align-items: center;
    
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    max-width: 1000px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}


.wrapper figure svg > * {
    opacity: 0;
}

.wrapper figure          svg #ground    { opacity: 1; }
.wrapper figure.scaffold svg #scaffold  { opacity: 1; }
.wrapper figure.head     svg #head      { opacity: 1; }
.wrapper figure.body     svg #body      { opacity: 1; }
.wrapper figure.arms     svg #arms      { opacity: 1; }
.wrapper figure.legs     svg #legs      { opacity: 1; }

@media only screen and (max-width: 600px) {
    body {
        height: 80vh;
    }

    h1 {
        text-align: center;
        letter-spacing: 6px;
    }
}

@media only screen and (max-width: 768px) {
}

.overlay-win, .overlay-lose {
    margin: 0;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-delay: 1000ms;  
}
 
.overlay-win h2, .overlay-lose h2, .start-game h2 {
    font-size: 48px;
    color: #ffffff;
}
 
.overlay-win .close-win, .overlay-lose .close-lose{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
}

 .play-again, .rematch, .timer-button, .count-tries {
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: purple;
    cursor: pointer;
 }
 
 .show-win, .show-lose {
    display: flex;
 }

 .inputField {
    opacity: 0;
 }