@import url('https://fonts.googleapis.com/css?family=Eater&display=swap');

*  {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f7f4fc;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/**.letters {
    font-family: 'Eater', cursive;
    font-size: 2em;
    letter-spacing: 8px;
    color: #fa6701;
    animation: flicker 5s linear infinite;
    /*added by Felix*//*
    width: 2em;
    height: 2em;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: rgb(124, 112, 112);
    
}

.input-container {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 0;
    display: flex;
    gap: .5rem;
}*/

.wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper figure svg > * {
    opacity: 0;
}

.wrapper figure          svg #ground    { opacity: 1; }
.wrapper figure.scaffold svg #scaffold  { opacity: 1; }
.wrapper figure.head     svg #head      { opacity: 1; }
.wrapper figure.body     svg #body      { opacity: 1; }
.wrapper figure.arms     svg #arms      { opacity: 1; }
.wrapper figure.legs     svg #legs      { opacity: 1; }


/*@keyframes flicker {
	0%, 10%, 20% {
		text-shadow: none;
        color: #fa6701;
	}
	5%, 15% {
		text-shadow: 0 0 8px rgba(#fa6701,0.6);
        color: #111111;
	}
}*/


@media only screen and (max-width: 600px) {
    body {
        height: 80vh;
    }

    h1 {
        text-align: center;
        letter-spacing: 6px;
    }
}

@media only screen and (max-width: 768px) {
}